# .gitignore for Grails 1.2 and 1.3

# web application files
# /web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
/.grails
*.sublime-workspace

# Intellij project files
.idea
*.iml

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws

# Configuration
grails-app/conf/rcm-config.properties

# Compiled CoffeeScripts
/web-app/js/app

# Tests temporary files
/test/coffee/node_modules
/test/coffee/coverage
/test/protractor/node_modules
/test/protractor/selenium
resources/test/companies/virgin-2/attachments/2014-*/
println
.gradle
build
